@media (min-width: 100px) {
    .send, .empty{
        margin-left: 5px;
    }
    .finished {
        justify-content: space-evenly
    }
    .finished p {
        align-items: center;
        text-align: center;
        width: 100px;
    }
    .order-list {        
        padding: 2%;
        padding-bottom: 180px;
    }
}
@media (min-width: 765px) {
    .finished p, .send, .empty{
        margin-left: 15px;
    }
    .order-list {        
        padding: 2%;
        padding-bottom: 280px;
    }    
}

.order-list {
    background-color: rgba(2, 255, 120, 0.294);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    justify-content: space-around;
    
}.order-item {
    display: flex;
    justify-content: space-between;
    background-color: rgba(39, 197, 113, 0.812);    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    align-items: center;
    margin-bottom: 2%;
}
.order-empty {
    color: rgb(172, 51, 51);
    text-align: center;
    padding-bottom: 25%;
}
.cart-container {
    display: flex;
    align-items: center;
    justify-content: flex-start
}
.image {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 70px;
    height: 70px;
    border-radius: 12px;
    float: left;
}
.img-portal {
    float: none;
    margin-right: 0;
}
p {
    color: rgb(2, 5, 1);

}
.title {
    margin-left: 15px;
    width: 140px;
    grid-column-start: 2;
}
.unidades {
    width: 40px;
    grid-column-start: 3;
}
.unprice{
    grid-column-start: 4;
}
.untotalprice{
    grid-column-start: 5;
    margin-right: 10%;
}
.ref {
    display: flex;
    justify-content:space-evenly;
    border-collapse: collapse;
    height: 35px;
    width: auto;
}
h2 {
    padding-bottom: 10%;
}
h5 {
    color: rgb(2, 2, 1);
    font-size: 0.39cm;
    text-align: flex-end;
}
.btn420 {
    background-color: red;
    grid-column-start: 6;
    width: 10%;
    font-size: .6cm;
    border: none;
    border-radius: 12px;   
    margin-right: 5px;
}
.finished {
    background-color: rgba(39, 197, 113, 0.812);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    margin-top: 10px;
    position: relative;
    width: 100%;
    border-radius: 12px;
    bottom: -80px;
}
.finished p {
    font-weight: 800;
    text-align: center;
}
.send {
    background-color: rgba(107, 158, 31, 0.997);
    border-radius: 12px;
    border: none;
    width: 22%;
}
.empty {
    background-color: rgba(255, 0, 0, 0.785);
    grid-column-start: 6;
    width: 100%;
    font-size: .6cm;
    border: none;
    color: black;
    border-radius: 12px;
    width: 12%;
}