@media (min-width: 765px) {
    .order-list {
    background-color: black;
    }.order-item {
        background-color: black;
    }
    .image {
    width: 70px;
    height: 70px;
    }
    .ref {
        height: 35px;
        width: auto;
    }
}
.order-list {
    background-color: rgba(2, 255, 120, 0.294);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2%;
    justify-content: space-around;
    
}.order-item {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(39, 197, 113, 0.812);
    align-items: center;
    column-gap: 12%;    
}
.order-empty {
    color: rgb(172, 51, 51);
    text-align: center;
    padding-bottom: 25%;
}
.image {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 70px;
    height: 70px;
}
.img-portal {
    float: none;
    margin-right: 0;
}
p {
    color: rgb(2, 5, 1);

}
.title {
    grid-column-start: 2;
}
.unidades {
    grid-column-start: 3;
}
.unprice{
    grid-column-start: 4;
}
.untotalprice{
    grid-column-start: 5;
    margin-right: 10%;
}
.ref {
    display: flex;
    justify-content:space-evenly;
    border-collapse: collapse;
    height: 35px;
    width: auto;
}
h2 {
    padding-bottom: 10%;
}
h5 {
    color: rgb(2, 2, 1);
    font-size: 0.39cm;
    text-align: flex-end;
}
.btn420 {
    background-color: red;
    grid-column-start: 6;
    width: 10%;
    font-size: .6cm;
    border: none;
    border-radius: 15%;
}
.finished {
    background-color: rgba(39, 197, 113, 0.812);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    margin-top: 10px;

}
.finished p {
    margin-left: 15%;
    border-radius: 15%;
    font-weight: 800;
}
.send {
    background-color: rgba(110, 155, 42, 0.713);
    border-radius: 2%;
    margin-left: 15%;
    margin-right: 10%;
    border: none;
    width: 22%;
}
.empty {
    background-color: rgba(255, 0, 0, 0.785);
    grid-column-start: 6;
    width: 100%;
    font-size: .6cm;
    border: none;
    color: black;
    border-radius: 15%;
    margin-left: 15%;
    width: 12%;
}