@media (min-width: 940px) {
    .price   {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }    
    .description {
        font-size: 0.55cm;
        margin: 30px;
        line-height: 27px;
    }
    .quantity {
        font-size: 0.55cm;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: -2;
        grid-row-end: -1;
        text-align: center;
        color: greenyellow;

    }    
    .cardFlex {
        float: left;
        margin: 3% 3%;
        }
    .counter {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        }
    .add-end {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: -1;
        grid-row-end: 4;
    }
}
@media (min-width: 768px) {
    .container1{
        padding: 0;
    }
    .price   {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 4px;
    }    
    .description {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: -3;
        grid-row-end: 4;
        font-size: 0.42cm;
        
    }
    .cardFlex {
        margin: 1%;
    }
    .cardFlex img {
        align-items: flex-end;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: -3;
        grid-row-end: -1;

    }
    .counter {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .add-end {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
        margin: 5%;
    }
}
@media (max-width: 765px) {
        .cardFlex {
            width: 80%;
            margin: auto;
        }
        .cardFlex img {
            width: 100%;
        }
        .price {            
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .description {            
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: -2;
        grid-row-end: 1;
        font-size: small;
        }
        .counter {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        .add-end {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }

.container1 {
    display: grid;
    padding: 0;
    padding-top: 1%;
}
.cardFlex {
    display: grid;
    padding: 0.3%;
    background-color: rgb(1, 2, 2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.price {
    color: goldenrod;
    font-size: 22px;
    text-align: center;
}
.description {
    color: gray;
    padding: 3%;
}
h1 {
    color: aquamarine;
    font-size: xxx-large;
    width: 100%;
    
    text-decoration: none;
}
p {
    font-size: large;
    font-weight: 700;
    color: gainsboro;
}
.cardFlex img {
    float: left;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: -3;

}
h3 {
    color: rgb(33, 35, 9);
    font-weight: 800;
    font-size: 0.8cm;
    text-decoration: none;
}
.add-end {
    background-color:rgb(238,184,32);
    height: 70px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba (0,0,0,0.2);
    cursor: pointer;
    user-select: none;
    text-align: center;
}
.img-portalll {
    grid-column-start: 3;
    margin-left: 42%;
    text-align: center;
    width: 15%;
    animation-name: spinning;
    animation-duration: 6s;
    animation-iteration-count: infinite;
/* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
      }
@keyframes spinning {
        from { transform: rotate(0deg) }
        to { transform: rotate(360deg) }
      }
