* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nosotros {
    box-shadow: 0 24px 38px 0 rgba(0, 0, 0, 0.5);
}
.nosotros h2{
    margin-top: 5%;
    text-align: center;
    font-size: 1.3cm;
}
.nosotros p {
    text-align: center;
    font-size: .57cm;
    padding: 1%;
    color: darkgoldenrod;
}
.nosotros h3 {
    color: aliceblue;
    font-size: .4cm;
    text-align: center;
    float: inline-end;
    padding-top: 20%;
    margin-bottom: 3%;
}
.img-ram {
    width: 20%;
    float: left;    
}