
.nosotros {
    padding-top: 5%;    
    background: linear-gradient( 0deg, black, black, black, black, rgb(77, 73, 0),hsla(57, 100%, 15%, 0.838),#6b6600 );
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.22);
}
.nosotros h2{    
    text-align: center;
    font-size: 1.3cm;
    color: rgb(203, 126, 25);
    padding-bottom: 50px;
}
.nosotros p {
    text-align: center;
    font-size: .57cm;
    padding: 1%;
    color: darkgoldenrod;
}
.nosotros h3 {
    color: aliceblue;
    font-size: .3cm;
    text-align: center;
    float: inline-end;
    padding-top: 8%;
    padding-bottom: 120px;
}
.img-ram {
    width: 20%;
    float: left;    
}
.img-nos {
    align-items: center;
    width:80%;
    margin: 7%;
}