@media (min-width: 765px) {
    .order-list {
    background-color: black;
    }.order-item {
        background-color: black;
    }
    .image {
    width: 70px;
    height: 70px;
    }
    .ref {
        height: 35px;
        width: auto;
    }    
}

.order-list {
    background-color: rgb(177, 177, 177); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2%;
    padding-bottom: 400px;
    justify-content: space-around;
    
}.order-item {
    display: flex;
    justify-content: space-evenly;
    background-color: aliceblue;
    align-items: center;
    column-gap: 12%;    
}
.image {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 70px;
    height: 70px;
}
p {
    color: rgb(14, 79, 3);

}
.title {
    grid-column-start: 2;
}
.unidades {
    grid-column-start: 3;
}
.unprice{
    grid-column-start: 4;
}
.untotalprice{
    grid-column-start: 5;
    margin-right: 10%;
}
.ref {
    display: flex;
    justify-content:space-evenly;
    border-collapse: collapse;
    height: 35px;
    width: auto;
}
h5 {
    color: rgb(114, 232, 240);
    font-size: 0.39cm;
    text-align: flex-end;
}
.btn420 {
    background-color: red;
    grid-column-start: 6;
    width: 100%;
    font-size: .6cm;
    border: none;
    color: black;
    border-radius: 15%;
}
.finished {
    display: flex;
    margin-top: 10px;
    
    margin-left: 10%;
}
.send {
    background-color: rgb(110, 155, 42);
    border-radius: 2%;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    width: 22%;
}
.empty {
    background-color: red;
    grid-column-start: 6;
    width: 100%;
    font-size: .6cm;
    border: none;
    color: black;
    border-radius: 15%;
    margin-left: 20%;
    width: 12%;
}