* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-widget img {
    width: 202px;
    height: auto;
    z-index: 1;
}
  
/* @media (max-width: 765px) {
  .display{
    background-color: bisque;
  }
} */
  .display {
    background-color: rgb(100, 199, 151);
    border-radius: 50% 20%;
  color: white;
  font-size:1.3cm;
  line-height: 50px;
}
