* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-widget img {
    width: 202px;
    height: auto;
}
  
  .display {
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 50%;
    font-size: 38px;
    position: absolute;
    text-align: center;
    line-height: 35px;
    margin-top: 2.5em;
  }