* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart-widget img {
    width: 202px;
    height: auto;
}
  
  .display {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    text-align: center;
    line-height: 17px;
    margin-top: 1.5em; 
  }