* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .contenedor, .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: auto;
        height: 150px;
    }
}
@media (min-width: 1080px) {
    .contenedor, .header {
        display: flex;
        margin: 0;

    }
}
.logo__nombre {
    color: black;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.logo__bold {
    color: rgb(46, 146, 47);
    font-weight: 700;
}
@media (min-width: 768px) {
    .navegacion-principal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }    
}
a {
    color: rgba(27, 81, 10, 0.568);
    text-decoration: none; 
    font-size: .5cm;
    font-weight: 600;    
}
.navegacion-principal a { 
    display: block;   
    text-align: center;
    margin-top: 1%;  
}
.contenedor {
    background: linear-gradient( 0deg,#6b6600, #d5d513, #dde0b0);
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.22);
    }
.lista {
    margin-left: 1em;
    margin-right: 1em;
}
.contenedor h2 {
    color: azure;
    text-align: center;
}
.contenedor h1 {
    font-size: 1.6cm;
    padding-left: 1%;
}
footer {
    position: absolute;
    background-color: rgb(72, 166, 135);
    bottom: 0;
    width: 100%;
}
.navegacion-principal div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}