* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .contenedor, .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: auto;
        height: 150px;
    }
}
@media (min-width: 1080px) {
    .contenedor, .header {
        display: flex;
        justify-content: center;
        margin: 0;

    }
}
.logo__nombre {
    color: black;
    font-weight: 400;
    margin: 0;
    text-align: center;
}
.logo__bold {
    color: rgb(181, 251, 76);
    font-weight: 700;
}
@media (min-width: 768px) {
    .navegacion-principal{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }    
}
a {
    display: block;
    color: beige;
    text-decoration: none; 
    font-size: .8cm;
    font-weight: 650;    
}
.navegacion-principal {    
    text-align: center;
    font-size: medium;
    
    transform: scale(0.7);
}
.header, .contenedor {
    background-color: rgb(72, 166, 135);
    }
.lista {
    margin-left: 1em;
    margin-right: 1em;
}
.contenedor h2 {
    color: azure;
    text-align: center;
}
h1 {
    font-size: 1.6cm;
}
footer {
    position: absolute;
    background-color: rgb(72, 166, 135);
    bottom: 0;
    width: 100%;
}