@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@media (min-width:100px){
    .contenedor-footer {        
    display: block; 
    margin-top: 20px;   
    }
}
@media (min-width:600px){
.contenedor-footer {    
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: 2%;
    margin-top: 0;
}
.h1 {
    display: none;
}
    
}
footer {
    margin: 0;
    width: 100%;
    height: auto;
}
footer h2{
    padding-bottom: 0;
}
footer p{
    font-size: small;
    color: whitesmoke;
    font-weight: 400;
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;   
}
.contenedor-footer {
    background: #3a3927;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.22);
}
.contenedor-footer h2 {
    color: rgb(54, 167, 71);
    text-align: center;
    float: right;
    font-size: medium;   
    height: auto;
}
.contenedor-footer h1 {
    font-family: 'Lobster', cursive;
    width: auto;
}
