@media (min-width: 768px) {
    .contenedor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
}
.img-portal, .img-portall, .img-portalll{
    padding-bottom: 400px;
}